.section--parallax {
    height: 100vh;
    width: 100%;
    background-attachment: fixed;
    /* background-position: right top; */
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
}

.content--herobanner {
    position: relative;
}

.content__header--banner-1 {
    font-size: 7rem;
    padding-top: 100px;     
    font-family: roboto-medium;
}

.content__header--banner-2 {
    font-size: 2rem;
    font-family: roboto-medium;
}

/* about */
.content__article > p {
    font-size: 25px;
    line-height: 1.5;
}

.img--about {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content--about {
    padding-bottom: 5%;
    padding-top: 5%;
}

/* product */

.text--product {
    font-size: 15px;
    width: 80%;
    margin: 0 auto;
}

/* cta */

.section--cta {
    height: 50%;
}

.section--cta-content {
    position: relative;
}

.header--cta {
    color: white;
    font-size: 5rem;
}

.text--cta {
    color: white; 
    font-family: roboto-regular;
    font-size: 2rem;
}

/* news */